# .NET Core
*.swp
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.history/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TestResults
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
